<app-search-component (movieName) = "getMovie($event)" ></app-search-component>

<div style="width: 100%" class="row" >

  <ul *ngFor="let movie of movies;let i =index" class="col-4">
          <div style="width: 100%">
              <div class="card" style="width: 18rem;">
                  <img src="{{movie.img}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">movie title : {{movie.title}}</h5>
                    <p class="card-text">movie rate is : {{movie.rate}}</p>
                    <p class="card-text">movie category is :{{movie.category}}</p>
                    <p class="card-text">movie date  is : {{movie.year}}</p>
                  </div>
                </div>
          </div>
  </ul>
</div>

